@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-4xl;
        @apply mb-4;
    }
    h2 {
        @apply text-3xl;
        @apply mb-4;
    }
    h3 {
        @apply text-2xl;
        @apply mb-4;
    }
    h4 {
        @apply text-xl;
        @apply mb-4;
    }
    h5 {
        @apply text-lg;
        @apply mb-4;
    }
    h6 {
        @apply text-base;
        @apply mb-4;
    }
    table{
        @apply mb-4;
    }
    ol, ul, dl {
        @apply mb-4;
    }
    li {
        @apply mb-2;
    }
    p {
        @apply mb-4;
    }
    address {
        @apply mb-4;
    }
    figure {
        @apply mb-4;
    }
    /* a{
        @apply text-color-textDark;
    } */
    a:hover{
        @apply text-blue-600;
    }
    dl dt {
        @apply font-bold;
    }
    dl dd {
        @apply pl-4;
    }
  }

  
  /* Alignments */
  .alignleft { display: inline; float: left; margin-right: 1.5em; }
  
  .alignright { display: inline; float: right; margin-left: 1.5em; }
  
  .aligncenter { clear: both; display: block; margin: 0 auto; }

/*--------------------------------------------------------------
  ## Captions
  --------------------------------------------------------------*/
  .wp-caption { margin-bottom: 1.5em; max-width: 100%; }
  .wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }
  .wp-caption .wp-caption-text { margin: 0.8075em 0; }
  
  .wp-caption-text { text-align: center; }
  


  /*--------------------------------------------------------------
  ## Galleries
  --------------------------------------------------------------*/
  .gallery { margin-bottom: 1.5em; }
  
  .gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }
  .gallery-columns-2 .gallery-item { max-width: 50%; }
  .gallery-columns-3 .gallery-item { max-width: 33.33%; }
  .gallery-columns-4 .gallery-item { max-width: 25%; }
  .gallery-columns-5 .gallery-item { max-width: 20%; }
  .gallery-columns-6 .gallery-item { max-width: 16.66%; }
  .gallery-columns-7 .gallery-item { max-width: 14.28%; }
  .gallery-columns-8 .gallery-item { max-width: 12.5%; }
  .gallery-columns-9 .gallery-item { max-width: 11.11%; }
  
  .gallery-caption { display: block; }


  /*--------------------------------------------------------------
  ## Comments
  --------------------------------------------------------------*/
  .comment-content a { word-wrap: break-word; }
  .bypostauthor { display: block; }
  

  /* Make sure embeds and iframes fit their containers. */
  embed, iframe, object { max-width: 100%; }
  
